<footer class="footer">
  <div class="main-footer widgets-dark typo-light">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div id="block-liensutiles">
            <h5 class="widget-title">Liens utiles<span></span></h5>
            <div>
              <ul class="list-icon">
                <li style="margin: 0.4em;"><i class="pi pi-external-link"></i><a href="http://www.enssup.gov.ma/"
                                                                                 target="_blank"> Enssup</a></li>
                <li style="margin: 0.4em;"><i class="pi pi-external-link"></i><a
                  href="http://www.fm6education.ma/portal/" target="_blank"> CNRST</a></li>
                <li style="margin: 0.4em;"><i class="pi pi-external-link"></i><a
                  href="http://www.fm6education.ma/portal/" target="_blank"> FM6</a></li>
                <li style="margin: 0.4em;"><i class="pi pi-external-link"></i><a href="http://www.ces.ma/"
                                                                                 target="_blank"> CESE</a></li>
                <li style="margin: 0.4em;"><i class="pi pi-external-link"></i><a href="http://www.csefrs.ma/"
                                                                                 target="_blank"> CSEFRS</a></li>
                <li style="margin: 0.4em;"><i class="pi pi-external-link"></i><a href="http://www.onousc.ma"
                                                                                 target="_blank"> ONOUSC</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div id="block-contact">
            <h5 class="widget-title">Contact<span></span></h5>
            <div>
              <ul>
                <li><i class="pi pi-map-marker"></i> Avenue des Nations Unies, Agdal, Rabat Maroc B.P:8007.N.U</li>
                <li><i class="pi pi-phone"></i><b> Tél :</b> 0537272755</li>
                <li><i class="pi pi-phone"></i><b> Fax :</b> 0537671401</li>
                <li><i class="pi pi-envelope"></i><b> E-mail:</b> presidence@um5.ac.ma</li>
                <li><i class="pi pi-envelope"></i><b> Webmaster:</b> web@um5.ac.ma</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="widget no-box" id="block-megawblockfollowusfooter">
            <h5 class="widget-title">Suivez-nous sur<span></span></h5>
            <div>
              <ul class="social-icons color">
                <li class="mail"><i class="pi pi-envelope"></i><a href="http://mail.um5.ac.ma" target="_blank"
                                                                  title="Mail"> Mail</a></li>
                <li class="facebook"><i class="pi pi-facebook"></i><a href="https://www.facebook.com/UM5Rabat"
                                                                      target="_blank" title="Facebook"> Facebook</a>
                </li>
                <li class="instagram"><i class="pi pi-instagram"></i><a href="https://www.instagram.com/um5rabat/"
                                                                        target="_blank" title="Instagram"> Instagram</a>
                </li>
                <li class="twitter"><i class="pi pi-twitter"></i><a href="https://twitter.com/um5rabat" target="_blank"
                                                                    title="Twitter"> Twitter</a>
                </li>
                <li class="linkedin"><i class="pi pi-linkedin"></i><a href="https://fr.linkedin.com/school/um5rabat/"
                                                                      target="_blank"
                                                                      title="Linkedin"> Linkedin</a></li>
                <li class="youtube"><i class="pi pi-youtube"></i><a href="https://www.youtube.com/user/um5s"
                                                                    target="_blank"
                                                                    title="Youtube"> youtube</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3">

          <div id="block-visitors">

            <h5 class="widget-title">Créateurs<span></span></h5>
            <p class="intro">Notre équipe est constituée d'élèves de l'Ecole Mohammadia d'Ingénieurs (promotion 2023)
              :</p>

            <div class="HBox">
              <div>
                <ul>
                  <li class="createur"><i class="pi pi-linkedin"></i><a
                    href="https://www.linkedin.com/in/hamza-chafkan/" target="_blank"
                    title="Linkedin"><strong>OUBOUJEMAA Nizar</strong> </a></li>
                  <li class="createur"><i class="pi pi-linkedin"></i><a
                    href="https://www.linkedin.com/in/jemghili"
                    target="_blank"
                    title="Linkedin"><strong>JEMGHILI Khalil</strong></a></li>
                </ul>
              </div>
              <div>
                <img class="emi" src="assets/images/logo-emi.png">
              </div>
            </div>
          </div>
          <div id="block-vershblocklogofooter">
            <div><a routerLink=">home">
              <!--              <img alt="UM5R" class="img-responsive"-->
              <!--                   height="80" src="http://www.um5.ac.ma/um5/themes/custom/versh/images/default/um5-blanc.png"-->
              <!--                   width="166">-->
            </a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
