<br>
<div class="container">
  <div class="row">
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th scope="col">Lesson No.</th>
        <th scope="col">Lesson Name</th>
        <th scope="colgroup"></th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let lesson of lessons">
        <tr>
          <th scope="row">{{lesson.lesson_id}}</th>
          <td>{{lesson.lesson_name}}</td>
          <td>
            <a class="btn btn-warning mt-auto" (click)="onClickEdit(lesson.lesson_id)">Edit</a>
            <a class="btn btn-primary mt-auto" (click)="onClickDetail(lesson.lesson_id)">Details</a>
            <a class="btn btn-danger mt-auto" (click)="onDelete(lesson.lesson_id)">Delete</a>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>

