<div class="container-fluid bg-dark"> <!-- Start Course Page Banner -->
  <div class="row">
    <img alt="courses" src="../assets/images/coursebanner.jpg" style=""/>
  </div>
</div> <!-- End Course Page Banner -->

<div class="section features-1">
  <div class="container mt-5"> <!-- Start All Course -->
    <div class="row">
      <div class="col-md-4">
        <img [alt]="course.course_name" src = "../{{course.course_img}}" class="card-img-top"/>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Course Name: {{course.course_name}}</h5>
          <p class="card-text"> Description: {{course.course_desc}}</p>
          <p class="card-text"> Duration: {{course.course_duration}}</p>
          <form action="checkout.php" method="post">
            <p class="card-text d-inline">Price:
              <small>
                <del>
                  <strong>MAD</strong> {{course.course_original_price}}
                </del>
              </small>
              <span class="font-weight-bolder">
              <strong>MAD</strong> {{course.course_price}}
            </span>
            </p>
            <input [value]="course.course_price" name="id" type="hidden">
            <button class="btn btn-primary text-white font-weight-bolder float-right" name="buy" (click)="onBuy(course)" type="submit">Buy Now
            </button>
          </form>
        </div>
      </div>
    </div><!-- End All Course -->
    <!--  <div class="container">-->
    <!--    <div class="row">-->
    <!--      <?php $sql = "SELECT * FROM lesson";-->
    <!--                $result = $conn->query($sql);-->
    <!--      if($result->num_rows > 0){-->
    <!--      echo '-->
    <!--       <table class="table table-bordered table-hover">-->
    <!--         <thead>-->
    <!--           <tr>-->
    <!--             <th scope="col">Lesson No.</th>-->
    <!--             <th scope="col">Lesson Name</th>-->
    <!--           </tr>-->
    <!--         </thead>-->
    <!--         <tbody>';-->
    <!--         $num = 0;-->
    <!--         while($row = $result->fetch_assoc()){-->
    <!--      if($row['course_id'] == $course_id) {-->
    <!--      $num++;-->
    <!--     echo ' <tr>-->
    <!--      <th scope="row">'.$num.'</th>-->
    <!--      <td>'. $row["lesson_name"].'</td></tr>';-->
    <!--      }-->
    <!--      }-->
    <!--      echo '</tbody>-->
    <!--    </table>';-->
    <!--      } ?>-->
    <!--    </div>-->
    <!--  </div>-->
  </div>
</div>
