<div class="home">
  <div class="container-fluid remove-vid-marg" id="home">
    <div class="vid-parent">
      <video autoplay loop muted playsinline>
        <source src="assets/video/banvid.mp4"/>
      </video>
      <div class="vid-overlay"></div>
    </div>
    <div class="vid-content text-center">
      <div class="col-sm-12">
        <h1 class="my-content display-1 mb-0">Welcome To E-Learning</h1>
      </div>
      <small class="my-content">Learn and Implement</small><br/>
    </div>
  </div> <!-- End Video Background -->
  <div class="container-fluid txt-banner"> <!-- Start Text Banner -->
    <div class="row bottom-banner">
      <div class="col-sm">
        <h5 class="carc"><i class="fas fa-book-open mr-3"></i> 100+ Online Courses</h5>
      </div>
      <div class="col-sm">
        <h5 class="carc"><i class="fas fa-users mr-3"></i> Expert Instructors</h5>
      </div>
      <div class="col-sm">
        <h5 class="carc"><i class="fas fa-keyboard mr-3"></i> Lifetime Access</h5>
      </div>
      <div class="col-sm">
        <h5 class="carc"><i class="fas fa-rupee-sign mr-3"></i> Money Back Guarantee*</h5>
      </div>
    </div>
  </div> <!-- End Text Banner -->
  <div class="section features-6">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12 text-center">
          <h3 class="display-3 sub-title">About Us</h3>
        </div>
        <div class="col-lg-6">
          <div class="info info-horizontal info-hover-primary">
            <div class="description pl-4">
              <h5 class="title">Our Vision</h5>
              <p class="paragraph">{{landing.vision}}</p>
            </div>
          </div>
          <div class="info info-horizontal info-hover-primary mt-5">
            <div class="description pl-4">
              <h5 class="title">Our believe</h5>
              <p class="paragraph">{{landing.believe}}</p>
            </div>
          </div>
          <div class="info info-horizontal info-hover-primary mt-5">
            <div class="description pl-4">
              <h5 class="title">Our Mission</h5>
              <p class="paragraph">{{landing.mission}}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-10 mx-md-auto">
          <img class="ml-lg-5" src="assets/img/ill/ill.png" width="100%">
        </div>
      </div>
    </div>
  </div>
  <div class="section features-1">
    <div class="container">
      <div class="col-md-8 mx-auto text-center">
        <span class="badge badge-primary badge-pill mb-3">Insight</span>
        <h3 class="display-3 sub-title">Our Popular Courses</h3>
        <p class="lead">The time is now for it to be okay to be great. For being a bright color. For standing out.</p>
      </div>
      <div class="card-deck">
        <ng-container *ngFor="let course of courses; index as i; count as len">
          <ng-container *ngIf="1<i&&i>4">
            <div class="card">
              <img [alt]="course.course_name" [src]="course.course_img" class="card-img-top"/>
              <div class="card-body">
                <h5 class="card-title">{{course.course_name}}</h5>
                <p class="card-text">{{course.course_desc}}</p>
              </div>
              <div class="card-footer">
                <p class="card-text d-inline">Price: <small>
                  <del>MAD {{course.course_original_price}}</del>
                </small> <span class="font-weight-bolder">MAD {{course.course_price}}</span></p>
                <a class="btn btn-primary text-white font-weight-bolder float-right"
                   (click)="onClickCourse(course.course_id)">Enroll</a>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <a routerLink="/courses" class="btn btn-white mt-4">See All Courses</a>
      </div>
    </div>
  </div>
</div>

